@page "/login"
@using Blazor.Interfaces;
@using Domain.Request_Models.Employees;
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<div class="container mt-5 p-5 bg-">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <Heading Size="HeadingSize.Is1">FitBoss</Heading>
            <Heading Size="HeadingSize.Is3">Login</Heading>
            <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />
                <div class="mb-3">
                    <label for="username-input" class="form-label">Usuário</label>
                    <InputText id="username-input" class="form-control" @bind-Value="@loginModel.UserName" />
                    <ValidationMessage For="@(() => loginModel.UserName)" />
                </div>

                <div class="mb-3">
                    <label for="password-input" class="form-label">Senha</label>
                    <InputText id="password-input" type="password" class="form-control" @bind-Value="@loginModel.Password" />
                    <ValidationMessage For="@(() => loginModel.Password)" />
                </div>

                <div class="mb-3">
                    <span class="text-danger">@Error</span>
                </div>

                <button class="w-100 btn btn-primary">Entrar</button>
            </EditForm>
        </div>
        <div class="col-3"></div>
    </div>
</div>

@code {
    private EmployeeLoginModel loginModel = new();
    private string Error = "";

    private async Task HandleLogin()
    {
        var result = await AuthService.Login(loginModel);

        if (result.Success)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            Error = result.Error;
        }
    }
}